/* Define a cor de fundo */
body {
    background-color: #f2f2f2;
    font-family: 'Merriweather', serif;
}

/* Define o estilo para a caixa de login */
.login-box {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

/* Define o estilo para o título da caixa de login */
.login-box h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Define o estilo para os inputs da caixa de login */
.login-box input[type="text"], .login-box input[type="password"] {
    width: 100%;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/* Define o estilo para o botão de login */
.login-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

/* Define o estilo para o link "Esqueci minha senha" */
.login-box a {
    display: block;
    text-align: right;
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}


